
/* Add spacing between each country suggestion */
.suggestion {
    padding-left: 2px;
    padding-right: 2px;
}

/* Change suggestion color when hovering it with the mouse */
.suggestion:hover {
    background-color: #adf;
    cursor: pointer;
}

/* Position the suggestion list just below the input box */
#suggestions {
    position: absolute;
    border: 1px solid black;
    left: 155px;
}

.suggestion-ul {
    padding: 0;
    margin: 0;
}

.suggestion-li {
    padding: 2px;
    margin: 0;
    list-style: none;
}

.hidden-block {
    display: none;
}
